/*body 상단부 여백 */


/* a태그 효과없음 */
a:link{text-decoration:none !important;}
a:visited{text-decoration:none !important;}
a:hover{text-decoration:none !important;}
a:active{text-decoration:none !important;}

/* MENU CONF*/
.container-fluid {
 	  text-align: center;
}

.filterMenu {
  display: none;
  background-color: #353535;
  border-top: 2px solid #ffffff;
  padding-top: 0px;
  margin-bottom:0px;
  position: relative;
  height:auto;
  padding-bottom:-10px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.openBtn {
	position: fixed;
	border-radius: 5px 5px 5px 5px;
	width:45px;
	height:45px;
	padding: 11px 13px;
	font-size: 20px;
	margin: 40px 0px 0px 30px;
	cursor: pointer;
	color: rgb(221, 221, 221);
	background: #353535;

}

.locationFilter{
	border:2px solid #fff;
	margin-bottom:-10px;
}
.datepicker{
	font-size: 8px;
}
.filterStart{
	padding:30px 15px 0px 15px;
}
.slider{
	margin-left:2%;
	margin-right:2%;
	margin-top:10px;
	height:6px !important;
}

/**                                */
#content {
	filter: none;
	min-height: 100%;
	padding: 5px 5px;
	position: relative;
}

.box {
	float: center;
	width: 100%;
	border: 0px solid #eee;
	background: #fff !important;
	margin-bottom: 28px;	
}

.box-header {
	height: 16px;
	font-size: 16px;
	line-height: 16px;
  	padding: 10px;
  	background: #eee;
	-webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
	overflow: hidden;
}
.box-header h2{
	float: center;
	margin-top: 0px;
	font-weight: 300;
}
.box-content {

	width: 100%;
	position: relative;
	z-index: 50;
  	margin-top: -1px;
	padding: 10px;
}
/* Grid Images
=================================================================== 
*/
.grayscale {
    filter: none;
    -webkit-filter: grayscale(40%);
    -moz-filter:    grayscale(40%);
    -ms-filter:     grayscale(40%);
    -o-filter:      grayscale(40%);
    cursor: pointer;
}

.grid{
	float: center;
	width: 100%;
}

.grid img{
	width: 265px;
	margin-bottom: 10px;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
	margin-left: 10px;
}

/**********************************/

/**btn*/
ul {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}
#allBtn{
	margin-top:20px;
	margin-bottom:25px;
}

.categoryBtn >ul >li{
	display: table-cell;
	 float: none;
  	width: 1%;

}
.categoryBtn-circle{
	height:45px;
	width:45px;
	border-radius:100% !important;
	margin-top:-3px;
}

.btn-group-justified {
  display: table;
  width: 100%;
  border-collapse: separate;

}
.btn-group-justified > ul > li {
  display: table-cell;
  float: none;
  width: 1%;
}
.btn-group-justified > ul > li > .btn {
  width: 100%;

}

.categoryBtn ul{
	margin-top:6px;
}
.inoutBtn ul, .feeBtn ul {
	margin-top:7px;
}

.date li{
	display:inline;
}

.button > span{
	display:inline;
	postition:relative;
	font-size:30px;
	padding-left:10px;
}


/**panel*/
.panel header{
	text-decoration: none;
	font-size: 13px;
	text-align: center;
	display: block;
	border:1px solid #ddd;
	background-color:rgba(255,255,255, 0.4) !important;
	font-weight: bold;
	color:#fff;

}

.panel > .panel-body {
	border:1px solid #ddd;
	height:65px;
}

.panel{
	padding: 5px !important;
	background-color:rgba(255,255,255, 0) !important;
}

.panel-heading {
  padding: 2px 6px !important;
  border-bottom: 1px solid transparent !important;
  border-top-left-radius: 3px !important;
  border-top-right-radius: 3px !important;
}

.panel-body {
  padding: 7px 25px !important;
}

/**slider*/
.ui-slider-range {
    background-color: #FF7012;
}


