<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="groupBoard.dao.mapper">
	<resultMap type="com.quickHobby.groupBoard.dto.GroupBoardDto" id="groupBoardDto">
		<result property="groupRowNum" column="rnum"/>
		<result property="groupBoardNum" column="GROUPBOARD_NUM"/>
		<result property="groupBoardGroupNum" column="GROUPBOARD_GROUPNUM"/>
		<result property="groupBoardWriter" column="GROUPBOARD_WRITER"/>
		<result property="groupBoardSubject" column="GROUPBOARD_SUBJECT"/>
		<result property="groupBoardContent" column="GROUPBOARD_CONTENT"/>
		<result property="groupBoardCreateDate" column="GROUPBOARD_CREATEDATE"/>
		<result property="groupBoardModifyDate" column="GROUPBOARD_MODIFYDATE"/>
		
		<result property="groupBoardVisible" column="GROUPBOARD_VISIBLE"/>
		<result property="groupBoardReadCount" column="GROUPBOARD_READCOUNT"/>
		<result property="memberNickName" column="member_nickname"/>
	</resultMap>

	<select id="groupBoardCount" resultType="int" parameterType="int">
			<![CDATA[select count(*) from groupboard where GROUPBOARD_VISIBLE=1 and groupboard_groupnum=#{groupNum}]]>
	</select>
	
	<select id="groupBoardList" parameterType="java.util.HashMap" resultMap="groupBoardDto">
			<![CDATA[select * from
 			(select rownum rnum, a.*, b.member_nickname from 
			(select * from groupboard where GROUPBOARD_VISIBLE=1 and GROUPBOARD_GROUPNUM=#{groupNum}
			order by GROUPBOARD_CREATEDATE desc)a, member b where a.groupboard_writer=b.member_num) 
 			]]> 
	</select>
	
	<insert id="groupBoardInsert" parameterType="com.quickHobby.groupBoard.dto.GroupBoardDto">
		<![CDATA[insert into groupboard(GROUPBOARD_NUM, GROUPBOARD_GROUPNUM, 
				GROUPBOARD_WRITER, GROUPBOARD_SUBJECT, 
				GROUPBOARD_CONTENT,GROUPBOARD_CREATEDATE, GROUPBOARD_MODIFYDATE, 
				GROUPBOARD_VISIBLE, GROUPBOARD_READCOUNT)
 				values(groupboard_num_seq.nextval, #{groupBoardGroupNum},
 				#{groupBoardWriter}, #{groupBoardSubject}, #{groupBoardContent},
				sysdate, sysdate, 1, #{groupBoardReadCount})]]>
	</insert>
	
	<update id="groupReadCount" parameterType="int">
		<![CDATA[update groupboard set GROUPBOARD_READCOUNT=GROUPBOARD_READCOUNT+1
		where groupboard_num=#{groupBoardNum}]]>
	</update>
	
	<select id="groupBoardRead" resultMap="groupBoardDto" parameterType="int">
		<![CDATA[select * from groupboard where groupboard_num=#{groupBoardNum}]]>
	</select>
	
	<update id="groupBoardDelete" parameterType="int">
		<![CDATA[update groupboard set GROUPBOARD_VISIBLE=0 
		where groupboard_num=#{groupBoardNum}]]>
	</update>
	
	<update id="groupBoardUpdate" parameterType="com.quickHobby.groupBoard.dto.GroupBoardDto">
		<![CDATA[update groupboard set GROUPBOARD_SUBJECT=#{groupBoardSubject},
		GROUPBOARD_CONTENT=#{groupBoardContent}, GROUPBOARD_MODIFYDATE=sysdate
		where groupBoard_num=#{groupBoardNum}]]>
	</update>
</mapper>