<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="group.dao.mapper">
	<resultMap type="com.quickHobby.group.dto.GroupDto" id="groupDto">
		<result property="groupNum" column="GROUP_NUM"/>
		<result property="groupCategory" column="GROUP_CATEGORY"/>
		<result property="groupInout" column="GROUP_INOUT"/>
		<result property="groupHost" column="GROUP_HOST"/>
		<result property="groupSubject" column="GROUP_SUBJECT"/>
		<result property="groupSubtitle" column="GROUP_SUBTITLE"/>
		
		<result property="groupLocation" column="GROUP_LOCATION"/>
		<result property="groupDate" column="GROUP_DATE"/>
		<result property="groupCost" column="GROUP_COST"/>
		
		<result property="groupFileName" column="GROUP_FILENAME"/>
		<result property="groupFilePath" column="GROUP_FILEPATH"/>
		<result property="groupFileSize" column="GROUP_FILESIZE"/>
	</resultMap>
	
	<insert id="createGroup" parameterType="com.quickHobby.apply.dto.ApplyDto">
		<![CDATA[insert into ggroup(GROUP_NUM, GROUP_CATEGORY, GROUP_INOUT, GROUP_HOST,GROUP_SUBJECT, GROUP_SUBTITLE, GROUP_LOCATION, GROUP_DATE, GROUP_COST, GROUP_APPLYNUM)
 				values(group_num_seq.nextval, #{apply_category}, #{apply_inout}, #{apply_host}, #{apply_subject}, #{apply_subtitle}, #{apply_location}, #{apply_closedate}, #{apply_cost}, APPLY_NUM_SEQ.currval)]]>
	</insert>
	
	<insert id="createGroupFile" parameterType="com.quickHobby.apply.dto.ApplyDto">
		<![CDATA[
			insert into ggroup(GROUP_NUM, GROUP_CATEGORY, GROUP_INOUT, GROUP_HOST,GROUP_SUBJECT, GROUP_SUBTITLE, GROUP_LOCATION, GROUP_DATE, GROUP_COST, GROUP_APPLYNUM, GROUP_FILENAME, GROUP_FILEPATH, GROUP_FILESIZE)
 				values(group_num_seq.nextval, #{apply_category}, #{apply_inout}, #{apply_host}, #{apply_subject}, #{apply_subtitle}, #{apply_location}, #{apply_closedate}, #{apply_cost}, APPLY_NUM_SEQ.currval, #{apply_filename}, #{apply_filepath}, #{apply_filesize})
		]]>
	</insert>
	<select id="myGroupList" parameterType="int" resultMap="groupDto">
		<![CDATA[
			select a.* from ggroup a, join b where a.group_num=b.join_groupnum and b.join_membernum=#{memberNum} order by group_date asc
		]]>
	</select>
	
	<update id="updateGroup" parameterType="com.quickHobby.apply.dto.ApplyDto">
		<![CDATA[
			UPDATE GGROUP SET GROUP_CATEGORY=#{apply_category}, GROUP_INOUT=#{apply_inout}, GROUP_SUBJECT=#{apply_subject}, GROUP_SUBTITLE=#{apply_subtitle}, GROUP_LOCATION=#{apply_location}, GROUP_DATE=#{apply_closedate}, GROUP_COST=#{apply_cost} WHERE GROUP_APPLYNUM=#{apply_num}
 		]]>
	</update>
	
	<select id="getGroupDto" parameterType="int" resultMap="groupDto">
		<![CDATA[
			select * from ggroup where group_num=#{groupNum}
		]]>
	</select>

	<insert id="joinMember" parameterType="java.util.HashMap">
		<![CDATA[
			INSERT INTO JOIN VALUES((SELECT GROUP_NUM FROM GGROUP WHERE GROUP_APPLYNUM=#{apply_num}), #{member_num}) 
 		]]>
	</insert>
</mapper>
