<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="board.dao.mapper">
	<resultMap type="com.quickHobby.board.dto.BoardDto" id="boardDto">
		<result property="boardNum" column="BOARD_NUM"/>
		<result property="boardWriter" column="BOARD_WRITER"/>
		<result property="boardSubject" column="BOARD_SUBJECT"/>
		<result property="boardContent" column="BOARD_CONTENT"/>
		<result property="boardCreateDate" column="BOARD_CREATEDATE"/>
		<result property="boardModifyDate" column="BOARD_MODIFYDATE"/>
		
		
		<result property="boardVisible" column="BOARD_VISIBLE"/>
		<result property="boardRecommand" column="BOARD_RECOMMAND"/>
		<result property="boardReadCount" column="BOARD_READCOUNT"/>
	</resultMap>
	
	<select id="boardCount" resultType="int">
			select count(*) from board 
	</select>
	
	<select id="boardList" parameterType="java.util.Map" resultMap="boardDto">
			<![CDATA[select * from
 			(select rownum rnum, a.* from 
			(select * from board order by BOARD_CREATEDATE desc)a) 
 			where rnum>=#{startRow} and rnum <= #{endRow}]]> 
	</select>
	
	<insert id="boardInsert" parameterType="com.quickHobby.board.dto.BoardDto">
		<![CDATA[insert into board(BOARD_NUM, BOARD_WRITER, BOARD_SUBJECT, 
				BOARD_CONTENT,BOARD_CREATEDATE, BOARD_MODIFYDATE, 
				BOARD_VISIBLE, BOARD_RECOMMAND,	BOARD_READCOUNT)
 				values(board_num_seq.nextval, #{boardWriter},
 				#{boardSubject}, #{boardContent},
				sysdate, sysdate, 1, #{boardRecommand}, #{boardReadCount})]]>
	</insert>
</mapper>