@CHARSET "UTF-8";

#backgroundDiv{
	position:relative;
	border: ridge 3px gray;
	margin-left:5px;
	padding-top:60px;
	padding-left:50px;
	width:100%;
	height:800px;
	background:url("../../background/cloth.jpg") no-repeat;
	background-size:100% 100%;
	opacity:0.9;
}

.postDiv{
	position:absolute;
	margin-bottom:80px;
	font-family:
}