@CHARSET "UTF-8";

/**body================================================
==================================================== */
body {
    padding-top: 50px;
}

/* a태그 효과없음 */
a:link{text-decoration:none;}
a:visited{text-decoration:none;}
a:hover{text-decoration:none;}
a:active{text-decoration:none;}

/** group board Information==================================
====================================================*/

/*background-color 및 라인 
#gInfo{
	background: none repeat scroll 0 0;
	display: inline;
	float: left;
	width: 100%;
	border-top: 0px solid #eee;
	border-bottom: 0px solid #eee;	
}*/

.gInfo_content {
  display: inline;
  float: left;
  margin-top: 30px;
  width: 100%;
  padding-bottom: 40px;
}
.gInfo_map {
  border: 1px solid #ccc;
  display: inline;
  float: left;
  width: 100%; 
}
.page-header{
	color:#fff;
	font-weight: 500;
}

/** Google Map */
#map_canvas{
	width: 100%;
	float: left;
	display: inline;
    height: 400px;
}
 
/**  좋아요 및 인원수 */
 .post-meta {
  position: relative;
  color: #fff;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 600;
}
.post-meta span {
  margin-right: 16px;
}

/** Group Information그룹 정보 panel(date, weather, location 등등) */
.gElement-item{
	margin-top:260px;
}
 .group_date{
	postition:relative;
	background-color:rgba(0, 0, 0, 0.5);
	color: #fff;
	text-align:center;
	height:100px;
	border: 1px solid #fff;
 } 
.group_date .week{
	postition:absolute;
 	letter-spacing:0;
 	font-size:24px;
 	font-weight:bold;
 	margin-top:15px;
 }
.when{
	postition:absolute;
 	font-size:24px;
 	font-weight:normal;
 	margin-top:-10px;
 }
 .group_weather{
	background-color:rgba(0, 0, 0, 0.5);
	color: #162523;
	text-align:center;
	height:100px;
	border: 1px solid #fff;
 }
 .group_weather img{
	display:block;
	height:100px;
	widht:100px;
	margin: 0px 0px 0px 10px;
 }
 .group_location{
	background-color:rgba(0, 0, 0, 0.5);
	color: #fff;
	height:100px;
	border: 1px solid #fff;
	text-align:center;
	font-weight: bold;
	font-size:16px;
 }
 .glocation1{
 	margin-top:25px;
 }
   
/** category 카테고리 정보*/ 
.category_item{
	display: inline;
	width: 100%;
	margin-top: 0px;
}
.category_item span {
  color: #fff;
  font-size: 18px;
  display: inline-block;
  background: #ccc;
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 50%;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
.category_item i {
  display: inline-block;
  background: #red;
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 50%;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  margin-left:30%;
}
.category_item .eye{
	background-color:red;
}
.category_item .hand{
	background-color:#0054FF;
}
.category_item .mouth{
	background-color:#9FC93C;
}
.category_item .legs{
	background-color:#FFE08C;
}

/** List 타입 게시판=========================================
==================================================== */
.gTable {
		display:table;
		width:100%;
		font-size: 13px;
}
.gTableRow {
		display:table-row;
}
.gTableHeading {
		display:table-header-group;
		background-color:#ddd;
}
.gTableCell{
		display:table-cell;
		padding:6px 15px;
		border-bottom:1px solid #D5D5D5;
		text-align:center;
}
.gTableHead {
		display:table-cell;
		padding:6px 20px;
		border-top:1px solid #999999;
		border-bottom:1px solid #999999;
		text-align:center;
}
.gTableHeading {
		display:table-header-group;
		background-color:#ddd;
		font-weight:bold;
}
.gTableBody {
		display: table-row-group;
}
.number{
	display: inline-block;
	width: 5%;
	white-space: nowrap;
	overflow:hidden !important;
	text-overflow: ellipsis;	
}
.title{
	display: inline-block;
	width:45%;
	white-space: nowrap;
	overflow:hidden !important;
	text-overflow: ellipsis;	
}
.titlec{
	display: inline-block;
	width:45%;
	text-align:left !important;
	white-space: nowrap;
	overflow:hidden !important;
	text-overflow: ellipsis;	
}
.nickname{
	display: inline-block;
	width: 20%;
	white-space: nowrap;
	overflow:hidden !important;
	text-overflow: ellipsis;	
}
.date{
	display: inline-block;
	width: 20%;
	white-space: nowrap;
	overflow:hidden !important;
	text-overflow: ellipsis;	
}
.count{
	display: inline-block;
	width: 10%;
	white-space: nowrap;
	overflow:hidden !important;
	text-overflow: ellipsis;	
}

/** GroupMember list =========================================
==================================================== */

.gMember_area{
	float: left;
	display: inline;
	width: 100%;
	padding:20px;
}
.gMember_slider{
	float: left;
	display: inline;
	width: 100%;
	padding: 10px;
}
.gMember_slider .slick-next, .gMember_slider .slick-prev{
  height: 30px;
  background-color: #ccc;
  font:white;
  margin:-20px;
}
.single_gMember {
  border: 1px solid #ccc;
  border-radius: 5px;
  display: inline;
  float: left;
  padding: 25px 15px;
  text-align: center;
  width: 100%;
}
.gMember_img{
	float: left;
	display: block;
	width: 100%;
}
.gMember_img > img {
  border-radius: 100%;
  height: 120px;
  margin: 0 auto 15px;
  width: 120px;
  border:1px solid #ccc;
}
.single_gMember h5 {
  color: #555;
  font-weight: bold;
  margin-bottom: 0;
  margin-top: 18px;
  font-size: 14px;
}
.single_gMember span {
  display: inline-block;
  font-size: 15px;
  margin-bottom: 10px;
}

.single_gMemberp {
  line-height: 26px;
}

/** Reply Model창=========================================
==================================================== */
 .modal-Reply-body {
	height: 250px;
	overflow-y: scroll;
}
 .reply-box {
	margin: 0;
	padding: 15px;
	list-style: none;
}
 .reply-box li {
	margin-bottom: 15px;
	padding-bottom: 5px;
	border-bottom: 1px dotted #808080;
}
 .reply-box li.left .reply-body {
	margin-left: 5px;
}
 .reply-box li .reply-body p {
	margin: 0;
	color: #8d8888;
}
.modal-header, .modal-header h4, .close {
      background-color: #BDBDBD;
      color:white !important;
      text-align: center;
      font-size: 30px;
  }
  .modal-footer {
      background-color: #f9f9f9;
      text-align: center;
  }
