@CHARSET "UTF-8";

@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);
@import url(http://fonts.googleapis.com/css?family=Roboto:400,300italic,300,100italic,100,400italic,500,500italic,700,700italic,900,900italic);

/*
 * Nanum Gothic (Korean) http://www.google.com/fonts/earlyaccess
 */
@font-face {
  font-family: 'Nanum Gothic';
  font-style: normal;
  font-weight: 400;
  src: url(//fonts.gstatic.com/ea/nanumgothic/v5/NanumGothic-Regular.eot);
  src: url(//fonts.gstatic.com/ea/nanumgothic/v5/NanumGothic-Regular.eot?#iefix) format('embedded-opentype'),
       url(//fonts.gstatic.com/ea/nanumgothic/v5/NanumGothic-Regular.woff2) format('woff2'),
       url(//fonts.gstatic.com/ea/nanumgothic/v5/NanumGothic-Regular.woff) format('woff'),
       url(//fonts.gstatic.com/ea/nanumgothic/v5/NanumGothic-Regular.ttf) format('truetype');
}
@font-face {
  font-family: 'Nanum Gothic';
  font-style: normal;
  font-weight: 700;
  src: url(//fonts.gstatic.com/ea/nanumgothic/v5/NanumGothic-Bold.eot);
  src: url(//fonts.gstatic.com/ea/nanumgothic/v5/NanumGothic-Bold.eot?#iefix) format('embedded-opentype'),
       url(//fonts.gstatic.com/ea/nanumgothic/v5/NanumGothic-Bold.woff2) format('woff2'),
       url(//fonts.gstatic.com/ea/nanumgothic/v5/NanumGothic-Bold.woff) format('woff'),
       url(//fonts.gstatic.com/ea/nanumgothic/v5/NanumGothic-Bold.ttf) format('truetype');
}
@font-face {
  font-family: 'Nanum Gothic';
  font-style: normal;
  font-weight: 800;
  src: url(//fonts.gstatic.com/ea/nanumgothic/v5/NanumGothic-ExtraBold.eot);
  src: url(//fonts.gstatic.com/ea/nanumgothic/v5/NanumGothic-ExtraBold.eot?#iefix) format('embedded-opentype'),
       url(//fonts.gstatic.com/ea/nanumgothic/v5/NanumGothic-ExtraBold.woff2) format('woff2'),
       url(//fonts.gstatic.com/ea/nanumgothic/v5/NanumGothic-ExtraBold.woff) format('woff'),
       url(//fonts.gstatic.com/ea/nanumgothic/v5/NanumGothic-ExtraBold.ttf) format('truetype');
}

html,body{ height:100%; margin: 0; padding: 0;}

html, body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, p, form, textfield, legend, textarea, blockquote, 
td, input, select, text, area, button, fieldset, img, dl, menu, li, span, a, nav{
	font-family: 'Roboto', 'Nanum Gothic', 나눔고딕, "Malgun Gothic", "맑은 고딕", sans-serif;
}


body {
    padding-top: 35px;
	font-family: 'Roboto', 'Nanum Gothic', 나눔고딕, "Malgun Gothic", "맑은 고딕", sans-serif;
	margin:0;
	min-height:100% !important;
}

.page-header{
	font-weight:700;
}



/* a태그 효과없음 */
a:link{text-decoration:none !important;}
a:visited{text-decoration:none !important;}
a:hover{text-decoration:none !important;}
a:active{text-decoration:none !important;}

/** Content2-그리드==========================================
=======================================================*/
/** 박스 레이어 크기 및 위치*/
.apply-box {
    display: block;
    position: relative;
    margin: 0 auto;
    max-width: 650px;
    
}

/** 박스 레이어 속성*/
.apply-box .apply-box-caption {
    display: block;
    position: absolute;
    bottom: 0;
    width: 265px;
    height: 100%;
    text-align: center;
    color: #fff;
    opacity: 0;
    background: rgba(33,33,33,.8);
    border: 0px solid #aaa;
    margin-left:10px;
}



/** 텍스트 가운데 정렬*/
.apply-box .apply-box-caption .apply-box-caption-content {
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    transform: translateY(-50%);
}
.apply-box-caption-content p{
	font-weight:700;
}

/** 불투명도*/
.apply-box:hover .apply-box-caption {
    opacity: 1;
}

/** 여백없음
.no-gutter > [class*=] {
    padding-right: 1%;
    padding-left: 1%;
    Padding-top: 1%;
    Padding-bottom: 1%;
} */

/**Content1-메인슬라이드 이미지==================================
======================================================= */
.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
      width: 100%;
      height: 100%;
      margin: auto;
  }

/**login Pop-up============================================
======================================================= */
.modal-header, .modal-header h4, .close {
      background-color: #BDBDBD;
      color:white !important;
      text-align: center;
      font-size: 30px;
  }
  
.modal-footer {
      background-color: #f9f9f9;
      text-align: center;
  }
  
/** footer================================================
======================================================= */

  footer {
  	position: absolute;
	background: #333;
	color:#e5e5e5;
	width:100%;
	padding-top: 40px;
	padding-bottom: 60px;

}

#copyRight {
	color: #777;
	font-size: 12px;
	text-align: center;
}
  