@CHARSET "UTF-8";

footer {
	margin-top: 45px;
 	padding: 35px 0 36px;
  	border-top: 1px solid #E5E5E5;
  	background-color:#E5E5E5;
}

#copyRight {
	color: #777;
	font-size: 12px;
	text-align: center;
}

.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
      width: 78%;
      height: 650px;
      margin: auto;
  }
  
.modal-header, h4, .close {
      background-color: #BDBDBD;
      color:white !important;
      text-align: center;
      font-size: 30px;
  }
  
.modal-footer {
      background-color: #f9f9f9;
      text-align: center;
  }

