<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="groupReply.dao.mapper">
	<resultMap type="com.quickHobby.groupReply.dto.GroupReplyDto" id="groupReplyDto">
		<result property="groupReplyNum" column="GROUPREPLY_NUM"/>
		<result property="groupReplyWriter" column="GROUPREPLY_WRITER"/>
		<result property="groupReplyBoardNum" column="GROUPREPLY_BOARDNUM"/>
		<result property="groupReplyContent" column="GROUPREPLY_CONTENT"/>
		<result property="groupReplyCreateDate" column="GROUPREPLY_CREATEDATE"/>
		<result property="groupReplyModifyDate" column="GROUPREPLY_MODIFYDATE"/>
		<result property="memberNickName" column="MEMBER_NICKNAME"/>
		<result property="memberFilePath" column="member_filepath"/>
	</resultMap>
	
	<select id="getGroupReplyCount" parameterType="int" resultType="int">
		<![CDATA[
			select count(*) from groupreply where groupreply_boardnum=#{groupReplyBoardNum}
		]]>
	</select>
	
	<select id="getGroupReplyList" resultMap="groupReplyDto" parameterType="int" >
		<![CDATA[select g.groupreply_num as groupreply_num, 
		g.groupreply_writer as groupreply_writer,
		g.groupreply_boardnum as groupreply_boardnum, 
		g.groupreply_content as groupreply_content,  
		g.groupreply_createdate as groupreply_createdate,  
		g.groupreply_modifydate as groupreply_modifydate, 
		m.member_nickname as member_nickname,
		m.member_filepath as member_filepath
		from groupreply g	
		inner join member m on m.member_num = g.groupreply_writer
		where  g.groupreply_boardnum=#{groupBoardNum}
		order by groupreply_createdate desc]]>
	</select>
	
	<insert id="groupReplyWrite" parameterType="com.quickHobby.groupReply.dto.GroupReplyDto">
		INSERT INTO GROUPREPLY VALUES(groupreply_num_seq.nextval, #{groupReplyWriter}, 
		#{groupReplyBoardNum}, #{groupReplyContent}, SYSDATE, SYSDATE)
	</insert>
	
	<update id="groupReplyModify" parameterType="com.quickHobby.groupReply.dto.GroupReplyDto">
		<![CDATA[update groupreply set GROUPREPLY_CONTENT=#{groupReplyContent}, GROUPREPLY_MODIFYDATE=sysdate
		where GROUPREPLY_NUM=#{groupReplyBoardNum}]]>
	</update>
	
	<delete id="groupReplyDelete" parameterType="com.quickHobby.groupReply.dto.GroupReplyDto">
		<![CDATA[delete from groupreply where GROUPREPLY_NUM=#{groupReplyBoardNum}]]>
	</delete>
</mapper>
